body {
    background: radial-gradient(circle, rgba(181, 255, 255, 1) 23%, rgba(215, 174, 243, 1) 61%, rgba(255, 255, 255, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
    
}

.container {
    text-align: center;
    margin: 3px auto;
    padding: 1px;
    max-width: 600px;
    
    background: #d7aef3;
    color: #fff;
    
    border-radius: 3px;     
    box-shadow: 8px 8px 2px #891180,
        16px 16px 2px #6e0c66,
        24px 24px 3px #460540;
}

header {
    padding: 30px 30px 8px;
    border-radius: 5px;
}

form.search {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.5;
}

input.search-input {
    border-radius: 5px;
    box-shadow: 2px 2px 5px #460540;
}

.upperBtn {
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    border: 2px outset #dcb5ff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #a13b94;
    color:rgba(70, 5, 64, 0.85);
    text-shadow: 1px 0 0px #b5ffff, -1px 0 0px #9b3f8f;
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
    padding: 6px 12px;
    font-size: 16px;
}

.upperBtn:hover {
    color: #891180;
    border: 2px outset #d59bf6;
    border-radius: 5px;
}

.upperBtn:active {
    transform: scale(0.9);
    border: 2px outset #d59bf6;
    transition: all 150ms ease-in-out;
}

header h1.mainCity {
    margin: 20px 20px 8px;

    text-align: start;
    text-transform: capitalize;
    color: #ff2fd2;
    text-shadow: #460540 2px 2px;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
}

section.mainWeather {
    margin: 0 20px;
    padding: 0 30px;
    text-align: start;
}


section h2.degrees {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-shadow: #460540 2px 2px;   
}


section p span.dateTime {
    font-family: 'Josefin Sans', sans-serif;
}

section p #description {
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}

section p #description:first-letter {
    text-transform: uppercase;
}

section .mainImage {
    display: block;
    width: 80px;   
}

section .mainImage:hover {
    transform: scale(1.2);
    transition: all 400ms ease-in-out;
}

@media (max-width: 600px) { 
    section div.mainTemperature {
    display: flex;
    flex-direction: row;
}
}

section span.mainDegrees {
    font-size: 26px;
}
section span.temType {
    font-size: 12px;
    cursor: pointer;
}

h2 .active {
    cursor: default;
    text-decoration: none;
    color: #fff;
}

h2 .active:hover {
 text-decoration: none;
 cursor: text;
}

a.to-be-chosen {
    text-decoration: none;
    color: #cee7eb;
}

a.to-be-chosen:hover {
    color: #c0ebfc;
    font-size: 16px;
    transition: all 200ms ease-in-out;
}

section span.humidity, section span.wind {
    font-family: 'Josefin Sans', sans-serif;
}

section.lowerWeather {
    padding: 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 16px;
}

hr {
    margin: 15px 45px;
}

section div.forecastCard {
    padding: 10px;
}

@media (max-width: 600px) {
section div.forecastCard {
        flex: 100%;
    }
}

section div.forecastCard:hover {
    box-shadow: 2px 2px 5px #b5ffff, 1px -1px 5px #9b3f8f;
    border-radius: 2px;
    transition: all 400ms ease-in-out;
}

section div.forecastWeekDays {
    opacity: 0.7;
}

section div.forecastImage {
    margin: 8px;
}

section div.temperatureDigits {
    font-weight: 300;
}

div span.boldTemperatureDigits {
    font-weight: 700;
}

footer {
    padding: 0 30px 15px;
}

footer, a.githubLink {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    opacity: 0.8;
}

footer a.githubLink {
    text-decoration: none;
    color: #03105a;
    text-shadow: 2px 2px 3px #fff;
}

footer a.githubLink:hover {
    color: #03105a ;
    text-shadow: 2px 2px 3px rgb(176, 9, 209);
}

footer a.githubLink:active {
    color:  #fff;
    text-shadow: 2px 2px 5px #03105a;
    text-decoration: none;
}

