body {
    background: linear-gradient(324deg, rgba(169, 33, 222, 1) 14%, rgba(255, 218, 27, 1) 63%, rgba(255, 255, 255, 1) 100%);
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/038/870/original/backgroundHill.jpg?1656363173");
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    
}

.container {
    text-align: center;
    margin: 30px auto;
    padding: 30px;
    max-width: 600px;
    
    background: #d7aef3;
    color: #fff;
    
    box-shadow: 8px 8px #891180, 16px 16px #6e0c66, 24px 24px #460540, 0px 0px 150px #ffff00;
    border-radius: 3px;     
}

form.search {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.5;
}

input.search-input {
    border-radius: 5px;
    box-shadow: 2px 2px #460540;
}

.btn {
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    border: 4px ridge #fca5f1;
    border-radius: 5px;
    box-shadow: 2px 2px #a13b94;
    color:#460540;
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
}

.btn:hover {
    color: #891180;
    border: 4px ridge #ffffff;
    border-radius: 5px;
}

.btn:active {
    transform: scale(0.95);
    border: 4px groove #ffffff;
    transition: all 150ms ease-in-out;
}

section.mainWeather {
    margin: 20px;
    text-align: start;
}

section h1.mainCity {
    text-transform: capitalize;
    color: #ff2fd2;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-shadow: #460540 2px 2px;
}

section h2.degrees {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-shadow: #460540 2px 2px;
}

section span.mainDegrees {
    font-size: 26px;
}

section p span.dateTime {
    font-family: 'Josefin Sans', sans-serif;
}

section p #description {
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}

section p #description:first-letter {
    text-transform: uppercase;
}

.mainImage {
    display: block;
    width: 80px;   
}

section span.temType {
    font-size: 12px;
    cursor: pointer;
    
}

h2 .active {
    cursor: default;
    text-decoration: none;
    color: #fff;
}

h2 .active:hover {
 text-decoration: none;
 cursor: text;
}

a.to-be-chosen {
    text-decoration: none;
    color: #cee7eb;
}

a.to-be-chosen:hover {
    color: #c0ebfc;
    font-size: 16px;
    transition: all 200ms ease-in-out;
}

/*section span.precipitation,*/ section span.humidity, section span.wind {
    font-family: 'Josefin Sans', sans-serif;
}

section.lowerWeather {
    font-family: 'Josefin Sans', sans-serif;
}

div span.boldTemperatureDigits {
    font-weight: 700;
}

footer, a.githubLink {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    opacity: 0.8;
}

footer a.githubLink {
    text-decoration: none;
    color: #03105a;
    text-shadow: 2px 2px 3px #fff;
}

footer a.githubLink:hover {
    color: #03105a ;
    text-shadow: 2px 2px 3px rgb(176, 9, 209);
}

footer a.githubLink:active {
    color:  #fff;
    text-shadow: 2px 2px 5px #03105a;
    text-decoration: none;
}

